body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 1fr;
    height: 100vh;
    font-family: 'Lucida Sans', sans-serif;
    background-image: url('./pic1.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}

    
.content{
    grid-column: 1 / 4; 
    grid-row: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.loginForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 20px;
    border-radius: 20px;
    border: 2px solid rgb(49,49,49);
    width: 350px;
    height: 350px;
    background-color: rgb(251,247,247);
    backdrop-filter: blur(20px);
    box-shadow: 2px 5px 15px black;
    margin: auto; 
    position: relative; 
    
}

.login{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(10, 10, 10)
}


.inputForm{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    align-items: center;
    justify-content: center;
}



#user, #pass{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease;
    margin-left: 5px;
    letter-spacing: 2px;
    border-bottom:2px solid rgb(72,71,71);
    background-color: transparent;
    padding-bottom: 3px;
}

#user::placeholder , #pass::placeholder{
    color: black;
    font-size: 16px;
}



button{
    background-color: rgb(19,19,19);
    color: whitesmoke;
    font-size: 16px;
    border: none;
    outline: none;
    
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    margin:10px;
    margin-top: 10px;
}

button:active{
    background-color: rgb(48,47,47);
}

p{
    color: #fdfdfd;
    font-size: 20px;
}
